<?xml version="1.0" encoding="utf-8"?>
<Content Key="e3e3ecb1-6413-4d8d-a518-8baf05ace546" Alias="Ny cykelsti åbner mellem Vejle og Bredsten (2)" Level="3">
  <Info>
    <Parent Key="f56d5301-d94b-4c8d-b3e5-7698f5a59809">Nyheder</Parent>
    <Path>/VelkommenTilVejleKommune/Nyheder/NyCykelstiAabnerMellemVejleOgBredsten2</Path>
    <Trashed>false</Trashed>
    <ContentType>veSubSiteNewsListPage</ContentType>
    <CreateDate>2026-08-04T07:52:40</CreateDate>
    <NodeName Default="Ny cykelsti åbner mellem Vejle og Bredsten (2)">
      <Name Culture="da-DK">Ny cykelsti åbner mellem Vejle og Bredsten (2)</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="false">
      <Published Culture="da-DK">false</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <headline>
      <Value Culture="da-DK"><![CDATA[Ny cykelsti åbner mellem Vejle og Bredsten]]></Value>
    </headline>
  </Properties>
</Content>