<?xml version="1.0" encoding="utf-8"?>
<Content Key="a6340301-f02f-4645-8220-aea881e4559d" Alias="Ny cykelsti åbner mellem Vejle og Bredsten (3)" Level="3">
  <Info>
    <Parent Key="f56d5301-d94b-4c8d-b3e5-7698f5a59809">Nyheder</Parent>
    <Path>/VelkommenTilVejleKommune/Nyheder/NyCykelstiAabnerMellemVejleOgBredsten3</Path>
    <Trashed>false</Trashed>
    <ContentType>veSubSiteNewsArticle</ContentType>
    <CreateDate>2026-08-04T07:53:29</CreateDate>
    <NodeName Default="Ny cykelsti åbner mellem Vejle og Bredsten (3)">
      <Name Culture="da-DK">Ny cykelsti åbner mellem Vejle og Bredsten (3)</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="false">
      <Published Culture="da-DK">false</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <body>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </body>
    <headline>
      <Value Culture="da-DK"><![CDATA[Ny cykelsti åbner mellem Vejle og Bredsten]]></Value>
    </headline>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <publishedDate>
      <Value><![CDATA[2026-06-09T12:46:48]]></Value>
    </publishedDate>
    <subsiteCategory>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </subsiteCategory>
    <summary>
      <Value Culture="da-DK"><![CDATA[Borgmester klipper båndet til en 4,5 km ny cykelsti, der forbinder Vejle med Bredsten.]]></Value>
    </summary>
  </Properties>
</Content>