<?xml version="1.0" encoding="utf-8"?>
<Content Key="24a046f2-5e16-4bf4-82b5-4de584b4fb1d" Alias="Ny cykelsti åbner mellem Vejle og Bredsten" Level="3">
  <Info>
    <Parent Key="7b142259-7169-464d-ae29-5bff3884cf3a">Nyheder</Parent>
    <Path>/VelkommenTilVejleKommune/Nyheder/NyCykelstiAabnerMellemVejleOgBredsten</Path>
    <Trashed>false</Trashed>
    <ContentType>newsArticle</ContentType>
    <CreateDate>2026-05-20T09:40:22</CreateDate>
    <NodeName Default="Ny cykelsti åbner mellem Vejle og Bredsten">
      <Name Culture="da-DK">Ny cykelsti åbner mellem Vejle og Bredsten</Name>
      <Name Culture="en-US">New Cycle Path Opens Between Vejle and Bredsten</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="da-DK">true</Published>
      <Published Culture="en-US">false</Published>
    </Published>
    <Schedule />
    <Template Key="eeee0001-0000-0000-0000-000000000003">newsArticle</Template>
  </Info>
  <Properties>
    <additionalJsonLd>
      <Value><![CDATA[]]></Value>
    </additionalJsonLd>
    <body>
      <Value Culture="da-DK"><![CDATA[Nu kan du cykle sikkert og nemt mellem Vejle og Bredsten. Vi er klar til at indvie den nye cykelsti på 4,5 km, og vi vil gerne fejre dagen sammen med dig.

Den nye cykelsti giver dig en mere sikker vej til arbejde og skole. Den gør det også lettere for dig at vælge en sund og grøn transportform i hverdagen.

Vær med til indvielsen
Borgmesteren klipper snoren onsdag den 20. maj 2026.

Vi glæder os til at se dig og din cykel!]]></Value>
      <Value Culture="en-US"><![CDATA[Now you can cycle safely and easily between Vejle and Bredsten. We are ready to inaugurate the new 4.5 km cycle path, and we would like to celebrate the day with you.

The new cycle path provides a safer route for work and school. It also makes it easier for you to choose a healthy and green mode of transport in your daily life.

Join the inauguration
The Mayor will cut the ribbon on Wednesday, May 20, 2026.

We look forward to seeing you and your bike!]]></Value>
    </body>
    <contentBlocks>
      <Value Culture="da-DK"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "fbae52e3-32ad-4013-a04b-94b617cac010",
      "key": "ef99804a-1996-4a23-bef7-a4f36b9663b1",
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Text Block Title"
        },
        {
          "alias": "body",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp\u003EThis might be the Text Block Body\u003C/p\u003E"
          }
        },
        {
          "alias": "callToAction",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "ef99804a-1996-4a23-bef7-a4f36b9663b1",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "ef99804a-1996-4a23-bef7-a4f36b9663b1",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </contentBlocks>
    <findings>
      <Value Culture="da-DK"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </findings>
    <headline>
      <Value Culture="da-DK"><![CDATA[Ny cykelsti åbner mellem Vejle og Bredsten]]></Value>
      <Value Culture="en-US"><![CDATA[New Cycle Path Opens Between Vejle and Bredsten]]></Value>
    </headline>
    <image>
      <Value><![CDATA[[
  {
    "key": "08e00681-fc4b-4804-b7dc-d33d085e7e6b",
    "mediaKey": "e9cb2b4e-5808-4c94-98fd-832b15ebad01",
    "mediaTypeAlias": "vejleImage",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <lastAuditAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </lastAuditAt>
    <metaGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaGeneratedBy>
    <metaTitle>
      <Value Culture="da-DK"><![CDATA[Ny cykelsti åbner mellem Vejle og Bredsten – Vejle Kommune]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaTitle>
    <publishedDate>
      <Value><![CDATA[2026-05-20T09:40:22]]></Value>
    </publishedDate>
    <schemaTypeOverride>
      <Value><![CDATA[]]></Value>
    </schemaTypeOverride>
    <seoMetaDescription>
      <Value Culture="da-DK"><![CDATA[Borgmester klipper båndet til en 4,5 km ny cykelsti, der forbinder Vejle med Bredsten.]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </seoMetaDescription>
    <summary>
      <Value Culture="da-DK"><![CDATA[Borgmester klipper båndet til en 4,5 km ny cykelsti, der forbinder Vejle med Bredsten.]]></Value>
      <Value Culture="en-US"><![CDATA[The Mayor cuts the ribbon for a new 4.5 km cycle path connecting Vejle with Bredsten.]]></Value>
    </summary>
    <translationAcceptedAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </translationAcceptedAt>
    <translationGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </translationGeneratedBy>
  </Properties>
</Content>