<?xml version="1.0" encoding="utf-8"?>
<Content Key="9d51ae6c-46af-442b-b3e5-6c5c28904d5e" Alias="Ny digital borgerservice åbner i Vejle" Level="3">
  <Info>
    <Parent Key="7b142259-7169-464d-ae29-5bff3884cf3a">Nyheder</Parent>
    <Path>/VelkommenTilVejleKommune/Nyheder/NyDigitalBorgerserviceAabnerIVejle</Path>
    <Trashed>false</Trashed>
    <ContentType>newsArticle</ContentType>
    <CreateDate>2026-05-26T09:40:49</CreateDate>
    <NodeName Default="Ny digital borgerservice åbner i Vejle">
      <Name Culture="da-DK">Ny digital borgerservice åbner i Vejle</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="false">
      <Published Culture="da-DK">false</Published>
    </Published>
    <Schedule />
    <Template Key="eeee0001-0000-0000-0000-000000000003">newsArticle</Template>
  </Info>
  <Properties>
    <additionalJsonLd>
      <Value><![CDATA[]]></Value>
    </additionalJsonLd>
    <body>
      <Value Culture="da-DK"><![CDATA[{
  "blocks": null,
  "markup": "\u003Cp\u003EVejle Kommune lancerer en ny digital borgerservice-portal den 1. juni 2026. Denne nye platform giver borgerne adgang til over 200 kommunale services via computer eller mobiltelefon, hvilket eliminerer behovet for et fysisk bes\u00F8g i et servicecenter.\u003C/p\u003E\u003Cp\u003EUdviklingen af portalen er et resultat af et to\u00E5rigt samarbejde mellem kommunens IT-afdeling og en omfattende borgerdialog, der har involveret mere end 3.000 borgere fra Vejle.\u003C/p\u003E\u003Cp\u003EBorgmester Jens Ejner Christensen udtaler om den nye portal: \u0022Vi giver borgerne en nemmere og mere fleksibel adgang til kommunens services. Det er et stort skridt fremad for Vejle Kommune.\u0022\u003C/p\u003E\u003Cp\u003EDen digitale borgerservice \u00E5bner officielt den 1. juni 2026 og kan tilg\u00E5s p\u00E5 vejle.dk/borgerservice.\u003C/p\u003E"
}]]></Value>
    </body>
    <findings>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </findings>
    <headline>
      <Value Culture="da-DK"><![CDATA[Ny digital borgerservice åbner i Vejle]]></Value>
    </headline>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <lastAuditAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </lastAuditAt>
    <metaGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </metaGeneratedBy>
    <metaTitle>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </metaTitle>
    <publishedDate>
      <Value><![CDATA[2026-05-20T00:00:00]]></Value>
    </publishedDate>
    <schemaTypeOverride>
      <Value><![CDATA[]]></Value>
    </schemaTypeOverride>
    <seoMetaDescription>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </seoMetaDescription>
    <summary>
      <Value Culture="da-DK"><![CDATA[Vejle Kommune lancerer en ny digital borgerservice-portal den 1. juni 2026, som giver borgerne adgang til over 200 kommunale services digitalt via computer eller mobiltelefon.]]></Value>
    </summary>
    <translationAcceptedAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationAcceptedAt>
    <translationGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationGeneratedBy>
  </Properties>
</Content>