<?xml version="1.0" encoding="utf-8"?>
<Content Key="8bbc2a9a-c5d8-47a4-ac49-135524a2f379" Alias="Ny gangbro åbner ved Vejle Å" Level="3">
  <Info>
    <Parent Key="7b142259-7169-464d-ae29-5bff3884cf3a">Nyheder</Parent>
    <Path>/VelkommenTilVejleKommune/Nyheder/NyGangbroAabnerVedVejleAa</Path>
    <Trashed>false</Trashed>
    <ContentType>newsArticle</ContentType>
    <CreateDate>2026-05-26T11:46:06</CreateDate>
    <NodeName Default="Ny gangbro åbner ved Vejle Å">
      <Name Culture="da-DK">Ny gangbro åbner ved Vejle Å</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="false">
      <Published Culture="da-DK">false</Published>
    </Published>
    <Schedule />
    <Template Key="eeee0001-0000-0000-0000-000000000003">newsArticle</Template>
  </Info>
  <Properties>
    <additionalJsonLd>
      <Value><![CDATA[]]></Value>
    </additionalJsonLd>
    <body>
      <Value Culture="da-DK"><![CDATA[{
  "blocks": null,
  "markup": "\u003Cp\u003EDen nye gangbro over Vejle \u00C5 \u00E5bner officielt den 1. juni 2026.\u003C/p\u003E\u003Cp\u003EBroen er 45 meter lang og forbinder Vejle centrum med skovomr\u00E5derne mod nord.\u003C/p\u003E"
}]]></Value>
    </body>
    <findings>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </findings>
    <headline>
      <Value Culture="da-DK"><![CDATA[Ny gangbro åbner ved Vejle Å]]></Value>
    </headline>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <lastAuditAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </lastAuditAt>
    <metaGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </metaGeneratedBy>
    <metaTitle>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </metaTitle>
    <publishedDate>
      <Value><![CDATA[2026-05-26T00:00:00]]></Value>
    </publishedDate>
    <schemaTypeOverride>
      <Value><![CDATA[]]></Value>
    </schemaTypeOverride>
    <seoMetaDescription>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </seoMetaDescription>
    <summary>
      <Value Culture="da-DK"><![CDATA[Vejle Kommune indvier en ny gangbro over Vejle Å som del af naturstien.]]></Value>
    </summary>
    <translationAcceptedAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationAcceptedAt>
    <translationGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationGeneratedBy>
  </Properties>
</Content>