<?xml version="1.0" encoding="utf-8"?>
<Content Key="dfabb57c-f35b-48d9-a5e2-58fe152ba0e4" Alias="Om Vejle Kommune: Accordion" Level="2">
  <Info>
    <Parent Key="1d8c6073-c4c5-457a-9d96-d2c7fad15dfe">Globale accordions</Parent>
    <Path>/GlobaleAccordions/OmVejleKommuneAccordion</Path>
    <Trashed>false</Trashed>
    <ContentType>accordionGlobalElement</ContentType>
    <CreateDate>2026-06-04T08:28:20</CreateDate>
    <NodeName Default="Om Vejle Kommune: Accordion" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <elementer>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "cc010001-0000-0000-0000-000000000001",
      "key": "864677bf-6427-4e34-8cd7-1ab6694483c9",
      "values": [
        {
          "alias": "accordionItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "fbae52e3-32ad-4013-a04b-94b617cac010",
                "key": "20fc7c8b-c541-412b-9007-4910b06d92e5",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Hvad er Vejle Kommune?"
                  },
                  {
                    "alias": "body",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "layout": {}
                      },
                      "markup": "\u003Cp\u003EVejle Kommune er en dansk kommune i Region Syddanmark med  117.000 indbyggere.\u003C/p\u003E"
                    }
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "20fc7c8b-c541-412b-9007-4910b06d92e5",
                "culture": null,
                "segment": null
              }
            ],
            "layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "20fc7c8b-c541-412b-9007-4910b06d92e5",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "cc010001-0000-0000-0000-000000000001",
      "key": "65686063-a034-4245-8691-3ce38a196c13",
      "values": [
        {
          "alias": "accordionItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "fbae52e3-32ad-4013-a04b-94b617cac010",
                "key": "450da375-9008-494e-894b-96b29234ab47",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Hvad tilbyder kommunen? "
                  },
                  {
                    "alias": "body",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "layout": {}
                      },
                      "markup": "\u003Cp\u003EVejle Kommune tilbyder en bred vifte af services inden for b\u00F8rn, unge, \u00E6ldre og erhverv.\u003C/p\u003E"
                    }
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "450da375-9008-494e-894b-96b29234ab47",
                "culture": null,
                "segment": null
              }
            ],
            "layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "450da375-9008-494e-894b-96b29234ab47",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "cc010001-0000-0000-0000-000000000001",
      "key": "aff531c7-e918-4b93-a3b8-71d3b89932e9",
      "values": [
        {
          "alias": "accordionItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "fbae52e3-32ad-4013-a04b-94b617cac010",
                "key": "ece5da59-b957-459a-982f-f6fb71a0b156",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Hvor finder jeg selvbetjening?"
                  },
                  {
                    "alias": "body",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "layout": {}
                      },
                      "markup": "\u003Cp\u003ESelvbetjening er tilg\u00E6ngelig p\u00E5 vejles hjemmeside under din profil.\u003C/p\u003E"
                    }
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "ece5da59-b957-459a-982f-f6fb71a0b156",
                "culture": null,
                "segment": null
              }
            ],
            "layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "ece5da59-b957-459a-982f-f6fb71a0b156",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "864677bf-6427-4e34-8cd7-1ab6694483c9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "65686063-a034-4245-8691-3ce38a196c13",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "aff531c7-e918-4b93-a3b8-71d3b89932e9",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "864677bf-6427-4e34-8cd7-1ab6694483c9",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "65686063-a034-4245-8691-3ce38a196c13",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "aff531c7-e918-4b93-a3b8-71d3b89932e9",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </elementer>
    <titel>
      <Value><![CDATA[Om Vejle Kommune]]></Value>
    </titel>
  </Properties>
</Content>