<?xml version="1.0" encoding="utf-8"?>
<Content Key="85c5cb91-ece6-4eca-a027-1eeecb91940a" Alias="Om Vejle Kommune" Level="2">
  <Info>
    <Parent Key="dc757e91-a460-4a96-bdc9-81b5f806a059">Velkommen til Vejle Kommune</Parent>
    <Path>/VelkommenTilVejleKommune/OmVejleKommune</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-05-20T09:40:24</CreateDate>
    <NodeName Default="Om Vejle Kommune">
      <Name Culture="da-DK">Om Vejle Kommune</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="da-DK">true</Published>
    </Published>
    <Schedule />
    <Template Key="eeee0001-0000-0000-0000-000000000007">contentPage</Template>
  </Info>
  <Properties>
    <additionalJsonLd>
      <Value><![CDATA[]]></Value>
    </additionalJsonLd>
    <body>
      <Value Culture="da-DK"><![CDATA[Vejle Kommune er en dansk kommune i Region Syddanmark med ca. 117.000 indbyggere.]]></Value>
    </body>
    <findings>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </findings>
    <headline>
      <Value Culture="da-DK"><![CDATA[Om Vejle Kommune]]></Value>
    </headline>
    <lastAuditAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </lastAuditAt>
    <metaGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </metaGeneratedBy>
    <metaTitle>
      <Value Culture="da-DK"><![CDATA[Om Vejle Kommune – Vejle Kommune]]></Value>
    </metaTitle>
    <modules>
      <Value Culture="da-DK"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "fbae52e3-32ad-4013-a04b-94b617cac010",
      "key": "d8a4fc20-f5bd-425f-97b8-604ce7a69e87",
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Vejle: En kommune for dig"
        },
        {
          "alias": "body",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "cc010002-0000-0000-0000-000000000001",
      "key": "562cef35-a4c5-41ac-b3f8-a3c89cb2b100",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Accordion Block Heading Vejle"
        },
        {
          "alias": "items",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "cc010001-0000-0000-0000-000000000001",
                "key": "96f32d1c-e698-4454-869e-7547aba54058",
                "values": [
                  {
                    "alias": "accordionItems",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "contentData": [
                        {
                          "contentTypeKey": "fbae52e3-32ad-4013-a04b-94b617cac010",
                          "key": "7953c177-fb56-4814-8043-c3be1a4b4530",
                          "values": [
                            {
                              "alias": "title",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "Title 1 fra f\u00F8r Vejle"
                            },
                            {
                              "alias": "body",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": {
                                "blocks": {
                                  "contentData": [],
                                  "settingsData": [],
                                  "expose": [],
                                  "layout": {}
                                },
                                "markup": "\u003Cp\u003EBody 1 fra f\u00F8r\u003C/p\u003E"
                              }
                            }
                          ]
                        }
                      ],
                      "settingsData": [],
                      "expose": [
                        {
                          "contentKey": "7953c177-fb56-4814-8043-c3be1a4b4530",
                          "culture": null,
                          "segment": null
                        }
                      ],
                      "layout": {
                        "Umbraco.BlockList": [
                          {
                            "contentKey": "7953c177-fb56-4814-8043-c3be1a4b4530",
                            "contentUdi": null,
                            "settingsKey": null,
                            "settingsUdi": null
                          }
                        ]
                      }
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "cc010001-0000-0000-0000-000000000001",
                "key": "ae9afd0f-9cce-400f-9077-7d288a85808d",
                "values": []
              },
              {
                "contentTypeKey": "cc010001-0000-0000-0000-000000000001",
                "key": "1c585d61-df34-4834-96b0-63b9710f0996",
                "values": []
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "96f32d1c-e698-4454-869e-7547aba54058",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "ae9afd0f-9cce-400f-9077-7d288a85808d",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "1c585d61-df34-4834-96b0-63b9710f0996",
                "culture": null,
                "segment": null
              }
            ],
            "layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "96f32d1c-e698-4454-869e-7547aba54058",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "ae9afd0f-9cce-400f-9077-7d288a85808d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "1c585d61-df34-4834-96b0-63b9710f0996",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "cc010002-0000-0000-0000-000000000001",
      "key": "0f5a6e2a-438e-4bd8-8532-1976aec010fc",
      "values": [
        {
          "alias": "items",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "cc010001-0000-0000-0000-000000000001",
                "key": "ca429159-4e79-4012-b2fd-a36475ebfd22",
                "values": [
                  {
                    "alias": "accordionItems",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "contentData": [
                        {
                          "contentTypeKey": "fbae52e3-32ad-4013-a04b-94b617cac010",
                          "key": "b8622f36-5d98-4216-8549-d3cbc93ff13b",
                          "values": [
                            {
                              "alias": "title",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "Vejle"
                            },
                            {
                              "alias": "body",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": {
                                "blocks": {
                                  "contentData": [],
                                  "settingsData": [],
                                  "expose": [],
                                  "layout": {}
                                },
                                "markup": "\u003Cp\u003EVejle\u003C/p\u003E"
                              }
                            }
                          ]
                        }
                      ],
                      "settingsData": [],
                      "expose": [
                        {
                          "contentKey": "b8622f36-5d98-4216-8549-d3cbc93ff13b",
                          "culture": null,
                          "segment": null
                        }
                      ],
                      "layout": {
                        "Umbraco.BlockList": [
                          {
                            "contentKey": "b8622f36-5d98-4216-8549-d3cbc93ff13b",
                            "contentUdi": null,
                            "settingsKey": null,
                            "settingsUdi": null
                          }
                        ]
                      }
                    }
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "ca429159-4e79-4012-b2fd-a36475ebfd22",
                "culture": null,
                "segment": null
              }
            ],
            "layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "ca429159-4e79-4012-b2fd-a36475ebfd22",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "d8a4fc20-f5bd-425f-97b8-604ce7a69e87",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "562cef35-a4c5-41ac-b3f8-a3c89cb2b100",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0f5a6e2a-438e-4bd8-8532-1976aec010fc",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "d8a4fc20-f5bd-425f-97b8-604ce7a69e87",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "562cef35-a4c5-41ac-b3f8-a3c89cb2b100",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "0f5a6e2a-438e-4bd8-8532-1976aec010fc",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </modules>
    <pageGrid>
      <Value Culture="da-DK"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "cc040001-0000-0000-0000-000000000001",
      "key": "c4a8b7d1-6cd1-4bf8-a36a-a0d0fa4437b7",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Hero Heading"
        },
        {
          "alias": "subheading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Hero Subheading"
        },
        {
          "alias": "body",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Hero body"
        }
      ]
    },
    {
      "contentTypeKey": "fbae52e3-32ad-4013-a04b-94b617cac010",
      "key": "d1c92191-a73f-490b-a3f7-e2e5bc47937b",
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Text Title"
        },
        {
          "alias": "body",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp\u003EText Block Body\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "c4a8b7d1-6cd1-4bf8-a36a-a0d0fa4437b7",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d1c92191-a73f-490b-a3f7-e2e5bc47937b",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "c4a8b7d1-6cd1-4bf8-a36a-a0d0fa4437b7",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "d1c92191-a73f-490b-a3f7-e2e5bc47937b",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </pageGrid>
    <referencedAccordions>
      <Value><![CDATA[umb://document/dfabb57cf35b48d9a5e258fe152ba0e4]]></Value>
    </referencedAccordions>
    <schemaTypeOverride>
      <Value><![CDATA[]]></Value>
    </schemaTypeOverride>
    <seoMetaDescription>
      <Value Culture="da-DK"><![CDATA[Vejle Kommune er en dansk kommune i Region Syddanmark med ca. 117.000 indbyggere.]]></Value>
    </seoMetaDescription>
    <translationAcceptedAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationAcceptedAt>
    <translationGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationGeneratedBy>
  </Properties>
</Content>