<?xml version="1.0" encoding="utf-8"?>
<Content Key="7d30beee-335f-4f65-9686-4f9e5ba0cb71" Alias="Subsite Nyheder (test)" Level="2">
  <Info>
    <Parent Key="35c1933b-7842-4d7d-aebc-69989c568dd3">Velkommen til Vejle Kommune</Parent>
    <Path>/VelkommenTilVejleKommune/SubsiteNyhederTest</Path>
    <Trashed>false</Trashed>
    <ContentType>veSubSiteNewsListPage</ContentType>
    <CreateDate>2026-06-09T13:43:18</CreateDate>
    <NodeName Default="Subsite Nyheder (test)">
      <Name Culture="da-DK">Subsite Nyheder (test)</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="da-DK">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <headline>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </headline>
  </Properties>
</Content>