<?xml version="1.0" encoding="utf-8"?>
<Content Key="f95296fb-5c19-4fcd-9a59-07ca998a606e" Alias="Tom pressemeddelelse fra Vejle Kommune" Level="3">
  <Info>
    <Parent Key="7b142259-7169-464d-ae29-5bff3884cf3a">Nyheder</Parent>
    <Path>/VelkommenTilVejleKommune/Nyheder/TomPressemeddelelseFraVejleKommune</Path>
    <Trashed>false</Trashed>
    <ContentType>newsArticle</ContentType>
    <CreateDate>2026-06-03T09:04:28</CreateDate>
    <NodeName Default="Tom pressemeddelelse fra Vejle Kommune">
      <Name Culture="da-DK">Tom pressemeddelelse fra Vejle Kommune</Name>
    </NodeName>
    <SortOrder>10</SortOrder>
    <Published Default="false">
      <Published Culture="da-DK">false</Published>
    </Published>
    <Schedule />
    <Template Key="eeee0001-0000-0000-0000-000000000003">newsArticle</Template>
  </Info>
  <Properties>
    <additionalJsonLd>
      <Value><![CDATA[]]></Value>
    </additionalJsonLd>
    <body>
      <Value Culture="da-DK"><![CDATA[{
  "markup": "\u003Cp\u003EDet ser ud til, at den vedh\u00E6ftede pressemeddelelse ikke indeholder nogen br\u00F8dtekst eller specifikke informationer. Der er derfor ingen indhold at opsummere eller vise her.\u003C/p\u003E"
}]]></Value>
    </body>
    <contentBlocks>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </contentBlocks>
    <findings>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </findings>
    <headline>
      <Value Culture="da-DK"><![CDATA[Tom pressemeddelelse fra Vejle Kommune]]></Value>
    </headline>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <lastAuditAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </lastAuditAt>
    <metaGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </metaGeneratedBy>
    <metaTitle>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </metaTitle>
    <publishedDate>
      <Value><![CDATA[2024-07-30T00:00:00]]></Value>
    </publishedDate>
    <schemaTypeOverride>
      <Value><![CDATA[]]></Value>
    </schemaTypeOverride>
    <seoMetaDescription>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </seoMetaDescription>
    <summary>
      <Value Culture="da-DK"><![CDATA[Den vedhæftede pressemeddelelse fra Vejle Kommune indeholder ingen yderligere tekst udover titlen.]]></Value>
    </summary>
    <translationAcceptedAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationAcceptedAt>
    <translationGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationGeneratedBy>
  </Properties>
</Content>